* {
  padding: 0px;
  margin: 0px;
}

html, body {
  height: 100%;
}

body {
  font-size: 12px;
  font-family: Helvetica;
}

.clear {
  clear: both;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: #495263;
  width: 100%;
  border-top: 1px solid #666;
  color: #fff;
}

  .footer .footer-left {
    float: left;
    padding: 30px;
  }
    .footer .footer-left ul li {
      display: inline;
    }

  .new-book-form {
    float: left;
    width: 500px;
    padding: 23px;
    text-align: center;
    background: #3B414F;
  }

  .footer .footer-right {
    background: #3B414F;
    float: right;
    padding: 30px;
  }  
    .footer .footer-right ul li {
      display: inline;
    }

    .footer .footer-right ul li a {
      color: #C79810;
    }

.books {
  background: url("../imgs/shelf.png") top center repeat-y;
  width: 100%;
  min-height: 1000px;
}
  
  .books-in {
    width: 85%;
    position: relative;
    top: 85px;
    margin: 0 auto;
    text-align: center;
  }
  
  .book {
    margin: 0px 15px 122px 0px;
    display: inline-block;
    vertical-align: bottom;
  }

  .book img {
    height: 195px;
    border-radius: 5px;
  }

  .book .book-cover {
    position: relative;
    text-align: center;
  }
  
  .book .book-cover a {
    color: #FFF;
    text-decoration: none;
  }

  .book .book-cover p {
    position: absolute;
    top: 35%;
    left: 0; 
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-shadow: 1px 1px #000;
    box-sizing: border-box;
  }

.input {
  width: 330px;
  padding: 10px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #DDD;
  border-bottom: 2px solid #DDD;
}

.admin {
  padding: 30px 30px 150px 30px;
}

.admin h1 {
  text-align: center;
  font-weight: normal;
}

/* Table */
.table, .table-advanced {
  width: 100%;
  border-collapse: collapse;
}

.table tr {
  border-bottom: 1px solid #ddd;
}

.table tr.link {
  cursor: pointer;
}

.table tr.grey {
  background: #F3F3F3;
  color: #333;
  border-top: 1px solid #DDD;
}

.table tr:hover {
  background: #F9F7ED;
}

.table th {
  padding: 10px;
  text-align: left;
  font-variant: small-caps;
  font-size: 17px;
  background: #f5f5f5;
  border-top: 1px solid #DDD;
  font-weight: normal;
}

.table td {
  padding: 10px;
}

.table td a {
  color: #000;
  text-decoration: none;
}

.table td.right, .table th.right {
  text-align: right;
}

/* PAGE */
.page {
  background: url('../imgs/bg_login.png');
  min-height: 1000px;
}
  .page-in {
    margin: 0 auto;
    width: 700px;
    position: relative;
    top: 50px;
    background: #FFF;
    padding: 30px;
    border-radius: 5px;
  }

.book-infos {
  text-align: center;
  color: #666;
}

.cover {
  text-align: center;
  background: #EFEFEF;
  padding: 15px;
  margin: -30px -30px 20px -30px;
  border-radius: 5px 5px 0px 0px;
}

.alternative-cover {
  position: relative;
  width: 140px;
  text-align: center;
  margin: 0 auto;
}

.alternative-cover p {
  position: absolute;
  top: 35%;
  left: 0; 
  width: 100%;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  text-shadow: 1px 1px #000;
  box-sizing: border-box;
}

fieldset {
  margin: 10px 0px 10px 0px;
  padding: 20px;
  border: 1px solid #73880A;
  border-radius: 5px;
  text-align: center;
}
legend {
  padding: 0px 5px 0px 5px;
  color: #73880A;
  font-size: 15px;
}

.rent-history {
  margin-top: 20px;
}

.rent-history h2 {
  font-weight: normal;
  text-align: center;
}

.book-confirm {
  color: #666;
  font-size: 14px;
  text-align: center;
}

.book-confirm p.description {
  text-align: justify;
}

.book-confirm .cover {
  background: #EFEFEF;
  padding: 15px;
  margin: -30px -30px 30px -30px;
  border-radius: 5px 5px 0px 0px;
}

  .book-confirm .alternative-cover {
    position: relative;
    width: 140px;
    text-align: center;
    margin: 0 auto;
  }
  
  .book-confirm .alternative-cover p {
    position: absolute;
    top: 35%;
    left: 0; 
    width: 100%;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-shadow: 1px 1px #000;
    box-sizing: border-box;
  }
