* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: helvetica;
  font-size: 12px;
  background: url('../imgs/bg_login.png')
}

.main {
  width: 350px;
  padding: 30px;
  margin: 150px auto 0 auto;
  background: #FFF;
  border-radius: 8px;
  text-align: center;
}

.field {
  margin-bottom: 10px;
}

.field input[type="email"], .field input[type="password"], .field input[type="text"] {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #DDD;
  border-bottom: 2px solid #DDD;
}

.full-size {
  width: 100%;
  box-sizing: border-box;
}

.book-confirm {
  color: #666;
  font-size: 14px;
}

.book-confirm p.description {
  text-align: justify;
}

.book-confirm .cover {
  background: #EFEFEF;
  padding: 15px;
  margin: -30px -30px 30px -30px;
  border-radius: 5px 5px 0px 0px;
}

  .book-confirm .alternative-cover {
    position: relative;
    width: 140px;
    text-align: center;
    margin: 0 auto;
  }
  
  .book-confirm .alternative-cover p {
    position: absolute;
    top: 35%;
    left: 0; 
    width: 100%;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-shadow: 1px 1px #000;
    box-sizing: border-box;
  }

.message {
  background: #FAFFAF;
  padding: 10px;
}
